<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WWW</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>Register</servlet-name>
	<servlet-class>com.Register</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Register</servlet-name>
	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ProductsInfo</servlet-name>
	<servlet-class>com.ProductsInfo</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ProductsInfo</servlet-name>
	<url-pattern>/ProductsInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ShowProducts</servlet-name>
	<servlet-class>com.ShowProducts</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ShowProducts</servlet-name>
	<url-pattern>/ShowProducts</url-pattern>
  </servlet-mapping>
</web-app>